$space-large: 15rem;
$space-midium: 2.5rem;
$title-color:#555;
$main-background-gradient:linear-gradient(to left,#43C6AC,#c2e59c);
body {
  background: $main-background-gradient;
}

.img-background{
  opacity: 0.5;
  background: url('https://cdn.dribbble.com/users/43342/screenshots/2261836/shot1.jpg');
  background-position: center;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

.page-title {
    color:$title-color;
    margin-top: $space-large;
    margin-bottom: $space-midium;
}
/*這個會設定type為search的*/
input [type = search] {
  box-shadow: none;
}